body {
  background-color: black;
}

h1 {
  color: white;
  margin-top: 76px; 
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  gap: 5px;
}

.input-tarefa {
  height: 25px;
}

.btn-tarefa{
  margin-top: 16px;
  height: 30px;
}

div {
  margin: 0 auto;
  width: 200px;
}

ul {
  text-decoration: none;
  display: inline-block;
}

li {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.checkedTask {
  background-color: green;
}

.checkedTask::after {
  content: ' ✔';
}
