h1 {
  margin-top: 76px; 
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  gap: 5px;
}

.input-tarefa {
  height: 25px;
}

.btn-tarefa{
  margin-top: 16px;
  height: 30px;
}